<p>Dear {{ SENDER_NAME }},<p>

<p>Thank you for using Trollpay.me, where we make it easy to pay your friends
back in the least convenient way possible!</p>

<p><strong>Troll Payment Details</strong></p>
<p><strong>Total:</strong> ${{ TOTAL }}</p>
<p><strong>Balance:</strong> ${{ BALANCE }}</p>
<p><strong>Reason:</strong> {{ NOTE }}</p>

<p>Every day for the next {{ NUM_DAYS_LEFT }} days, your friend will receive an email
from <a href="http://trollpay.me">TrollPay.me</a> with a link to claim $1 of the remaining balance via Venmo.</p>

<p>If you'd like, you can also cancel the troll payment at anytime using the link below:<br />
<a href="{{ CANCEL_LINK }}">{{ CANCEL_LINK }}</a></p>

<p>That's it! Have fun!</p>

<p>Talk soon,</p>
<p>TrollPay.me</p>
<p>"Send money to your friends in $1 per day installments!"</p>
